.tab
	width:300px
	overflow:hidden
	.tab-nav
		overflow:hidden
		height:30px
		li 
			float:left
			margin-right:5px
			background-color:#767676
			border-radius:3px 3px 0 0
			a
				display:block
				height:30px
				color:#fff
				padding:0 20px
				line-height:30px
			&.actived
				background-color:#fff
				a
					color:#000
	.tab-content-wrap
		overflow:hidden
		height:200px
		padding:5px
		background-color:white
		.tab-content-item
			display:none
			position:absolute
			font-size:0
			img
				width:290px
				height:200px
		.current
			display:block
			

.tab-view
	float:left
	margin-right:50px
	p
		color:#fff
		margin-bottom:20px

